#mos.ru credentials
mos_ru_login=login
mos_ru_password=password

# notification methods
notification_email=True
notification_telegram=True

# settings for email notification.
# if notification_email = False pass these fields
email_smtp_server=smtp.yandex.ru
email_smtp_port=465
email_smtp_login=no-reply@mail.ru
email_smtp_password=password
email_target_emails=["materials@mail.ru"]

# settings for telegram notification.
# if notification_telegram = False pass these fields
telegram_bot_token=bot_token
telegram_chat_id=123456789 # private chat id or group id started with -100
#telegram_thread_id = 1234  # delete this field if group has no topics

# settings for database
database_filename=db.sqlite

storage_folder_path=downloads

# other settings
debug=True
